<mjml>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-text>
                    <h1>This is a test</h1>
                    {{name}}
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>